.pBody {
  background-color: khaki;
  height: 400px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
}

.bodyitem__leftBody {
  background-color: lawngreen;
  flex: 3;
}

.bodyitem__rightBody {
  width: 200px;
  padding-left: 30px;
  background-color: lightcoral;
  flex: 1;
}

h1,
h2 {
  text-align: center;
}

.movie__genres {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 5px 0px;
}

.movie__genres li,
.movie .movie__year {
  margin-right: 10px;
  font-size: 14px;
}
