a {
  text-decoration: none;
}

.body button {
  background-color: inherit;
  border: none;
  outline: none;
}

.item {
  margin-bottom: 15px;
  font-size: 18px;
  color: black;
  width: 330px;
  height: 370px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.movie__header {
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  flex-grow: 1;
}

.item img {
  max-height: 310px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.title {
  font-size: 15px;
}
